.section-full-bg {
  background: transparent bottom center no-repeat;
  background-size: cover;
}

.about-section-bg {
  background: transparent url('../img/cat-right.jpg') top right no-repeat;
  background-size: cover;
}

.get-involved-section-bg {
  background: transparent url('../img/bird-right.jpg') top center no-repeat;
  background-size: cover;
}
