.hero-message {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;

  & p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.hero-message.one-half {
  padding: 20px;

  @include breakpoint(md) {
    @include j-column(1/2);
    padding: 80px;
  }
}

.hero-centered {
  @include j-center(60%);
  padding: 60px;

  & h2 {
    text-align: center;
  }
}

.light-text {
  color: #fff;
}

.pledge {
  font-size: 1.2rem;
  line-height: 2rem;
}
