.main-nav {
  width: 50%;
  float: right;
}

ul.nav {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  margin: 0 auto;

  & li {
    display: inline;
    //border-right: 1px solid rgba(white, .6);

    &:last-child {
      border: none;
    }
  }

  & li a {
    // background-color: rgba(#fff, .8);
    // border-radius: 4px;
    color: #fff;
    padding: 7px 17px;
    text-decoration: none;
    font-size: .9rem;
    transition: all .2s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}
