.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
  transition: all .2s ease-in-out;

  &.full-bar {
    //background-color: rgba($blue, .5);
    color: $offblack;

    &.dark-bg {
      background-color: rgba(white, .4);
    }

    & .branding-area {
      opacity: 1;
    }

    & nav ul li a {
      color: $offblack;
    }
  }
}

.branding-area {
  color: $offblack;
  width: 49%;
  float: left;
  font-weight: bold;
  opacity: 0;

  & span {
    font-size: 1.1rem;

    & em {
      font-family: $secondary-font;
      font-weight: normal;
      font-size: .8rem;
    }
  }
}
