html {
  box-sizing: border-box;
  font-family: $main-font;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color-text;
  height: 100%;
}

h1.heading {
  color: #fff;
  font-size: 7rem;
  font-size: 6vw;
  text-align: left;
  max-width: 80%;
}
