html {
  font-size: 100%;
  line-height: 1.8rem;
}

a {
  color: $color-text;
  transition: all .2s ease-in-out;

  &:hover {
    color: $blue;
  }
}

p {
  font-family: $secondary-font;
}

h1, h2, h3 {
  font-family: $main-font;
}

h2 {
  font-size: 5vw;
  line-height: 5vw;
  margin-top: 0;
  margin-bottom: 1.8rem;
}

p + h3 {
  margin-top: 2.4rem;
}

.fine-print {
  color: lighten($color-text, 35%);
  font-size: .75rem;
  font-style: italic;
  line-height: 1rem;
}
